{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% load url from future %}
{% load staticfiles %}
{% if not ajax %}
  <div id="comparison" portlet_assignment_id="{{ portlet_assignment_id }}" slot_name="{{ slot_name }}">
{% endif %}
{% if products %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comparison_portlet.css' %}">
<div class="portlet comparison-portlet">
    
    <div class="portlet-header">
        <h4>
            <a href="{% url 'lfs_comparison' %}">
            {{ comparison_list_portlet.title }}</a>
        </h4>
    </div>
    <div class="portlet-body">
        {% if products|length <= 2 %}
            {% for product in products %}
            <div class="wrapp_comparison">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                    {% if product.get_image.image.url_200x200 %}
                        {% badges_for_product product %}
                        <img class="img_product" alt="{{ product.name }}" src="{{ product.get_image.image.url_200x200 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
                <div class="product-caption">
                    <a  href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a>
                </div>
            </div>
            {% endfor %}
            <br>
            <a class="btn" href="{% url 'lfs_comparison' %}">{% trans 'Сompare products' %}</a>
        {% elif products|length > 2 %}
            {% for product in products %}
            <div class="wrapp_comparison">
                <a href="{% url 'lfs.catalog.views.product_view' product.slug %}">
                    {% if product.get_image.image.url_200x200 %}
                        {% badges_for_product product %}
                        <img class="img_product" alt="{{ product.name }}" src="{{ product.get_image.image.url_200x200 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
                <div class="product-caption">
                    <a  href="{% url 'lfs_product' product.slug %}">{{ product.get_name }}</a>
                </div>
            </div>
            {% endfor %}
            <br>
            <a class="btn" href="{% url 'lfs_comparison' %}">{% trans 'Сompare products' %}</a>
            <script type="text/javascript">
            $('.wrapp_comparison:nth-child(3)').before('<p class="wrapp_all_comparison"><span>Показать все</span></p>');
            $('.wrapp_comparison:nth-child(n+3)').wrap('<div class="all_comparison"></div>');
            $('.all_comparison').css('display','none');
           </script>
        {% endif %}

    </div>
</div>
<script type="text/javascript">
    $('.wrapp_all_comparison').click(function() {
        $(this).toggleClass('active');
        $('.all_comparison').slideToggle(300);
    });
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
{% if not ajax %}
</div>
{% endif %}

{% if init %}
 <script type="text/javascript">
      var id = $('#comparison').attr('portlet_assignment_id')
      $.ajax({
          url: "/comparison/ajax-load/" + id + "/",
          dataType: "json",
          success: function(msg){
              $('#comparison')[0].innerHTML = msg['html']
              mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}