{% extends "lfs/base.html" %}
{% load lfs_tags  %}
{% load portlets_tags %}
{% load lfs_theme_tags %}
{% load sshop_tags %}
{% load infoshina_theme_tags %}

{% block section %}category{% endblock %}

    {% block title %}{% custom_title block.super %}{% endblock %}
    {% block keywords %}{% custom_keywords block.super %}{% endblock %}
    {% block description %}{% custom_description block.super %}{% endblock %}

{% block head %}
    {% if request.path == request.get_full_path %}
    {% if "&" in unpacked_hr_urls %}
        <meta name="robots" content="noindex,follow">
    {% endif %}
        {% else %}    
        {% if request.canonical_url %}
                {{ request.canonical_url|safe }}
            {% else %}
                <meta name="robots" content="noindex,follow">
        {% endif %}
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    {% breadcrumbs category %}
{% endblock %}

{% block content %}
    <input type="hidden" id="hr_urls_templates" value="{{ hr_urls_templates }}" />
    <input type="hidden" id="unpacked_hr_urls" value="{{ unpacked_hr_urls }}" />
    <input type="hidden" id="category_slug" value="{{ category_slug }}" />
    {{ category.static_block.html|safe }}
    {{ category_inline|safe }}

{% endblock %}
