{% load mptt_tags %}
        {% for top_category in categories %}
            <li id="cat_{{ top_category.id }}" class="main-category">     
               <a href="{% url lfs_category top_category.slug %}" 
                {% if request.path == top_category.get_absolute_url  %} class="active" {% endif %} >{{ top_category.name }}</a>
            </li>
{% endfor %}