{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block wrapper %}
<div class="row-fluid">
    <div class="span3">
        {% block left-slot %}
        <div class="well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans 'My account' %}</li>
                <li>
                    <a href="{% url lfs_my_account %}">{% trans 'Overview' %}</a>
                </li>
                <li>
                    <a href="{% url lfs_my_orders %}">{% trans 'Your orders' %}</a>
                </li>
                <li>
                    <a href="{% url lfs_my_password %}">{% trans 'Change password' %}</a>
                </li>
                <li>
                    <a href="{% url lfs_my_email %}">{% trans 'Change e-mail' %}</a>
                </li>
        </ul>
    </div>
        {% endblock %}
    </div>
    <div class="span9">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
