<div id="wrapp-news" class="portlet">
    <div class="portlet-header">
             <h4><a href="/info/{{news.0.category.all.0.slug}}/">{{preview_portlet.title}}</a></h4>
    </div>
    {% for n in news %}
        <div class="news">
            <div class="wrap_img">
                <a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'><img width="100" src="{{MEDIA_URL}}{{ n.icon }}" alt=""></a>
                <div class="description">
                    <p><a href='/info/{{n.category.all.0.slug}}/{{n.slug}}.html'>{{ n.title }}</a></p>
                    {% if preamble %}
                        <p>{{ n.preamble|safe }}</p>
                    {% endif %}
                    <div class="create_date">{{ n.create_date }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
       // mediator.subscribe("document_ready", function(){
       // $('#middle-slot-container').prepend($('#slider_{{portlet.id}}'))
    //})();
</script>