{% load url from future %}
{% load i18n l10n lfs_tags sshop_tags %}
{% load infoshina_theme_tags %}
{% if variants|length > 1 or product.parent == None and variants %}
<h3>{% trans "Variants" %}</h3>
<table class="table table-bordered table-striped product-variants">
    <tr>
        <th>
            {% trans 'Name' %}
        </th>
        <th class="number">
            {% trans 'Price' %}
        </th>
        <th></th>
    </tr>
    {% for product_variant in product|correct_variants|slice:":5" %}
    {% if product.pk != product_variant.pk or product.is_product_with_variants %}
    <tr>
        <td>
            <a href="http://{{request.get_host}}{% url 'lfs_product' product_variant.slug %}">{{ product_variant.get_name }}</a>
        </td>
        <td class="number" nowrap="nowrap">
            {% if product_variant.get_for_sale %}
                <span class="for-sale-standard-price">
                    {% standard_price product_variant %}
                </span>
                {% for_sale_price product_variant %} 
            {% else %} 
                {% price product_variant %} 
            {% endif %}
        </td>
        <td>
        {% if product_variant.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product_variant.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline hide" name="quantity" type="text" value="4" />
            <button class="btn">{% trans "Купить" %}</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% if product|correct_variants|slice:"5:"|length > 0 %}
<p class="show_all_variants"><span>Показать все</span></p>
<table class="table table-bordered table-striped product-variants show_more_variants">
    {% for product_variant in product|correct_variants|slice:"5:" %}
    {% if product.pk != product_variant.pk or product.is_product_with_variants %}
    <tr>
        <td>
            <a href="http://{{request.get_host}}{% url 'lfs_product' product_variant.slug %}">{{ product_variant.get_name }}</a>
        </td>
        <td class="number" nowrap="nowrap">
            {% if product_variant.get_for_sale %}
                <span class="for-sale-standard-price">
                    {% standard_price product_variant %}
                </span>
                {% for_sale_price product_variant %} 
            {% else %} 
                {% price product_variant %} 
            {% endif %}
        </td>
        <td>
        {% if product_variant.status.show_buy_button %}
            <form action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product_variant.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline hide" name="quantity" type="text" value="4" />
            <button class="btn">{% trans "Купить" %}</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}

</table>
<script type="text/javascript">
   $("p.show_all_variants").click(function() {
        $(this).toggleClass("active");
        $(this).next('.show_more_variants').slideToggle(300);
    });
</script>
{% endif %}
{% endif %}