{% load i18n %}
<div class="apply-filter-triangle"></div>
<div class="apply-filter-wrap">
<button id="apply-filter-button" class="btn btn-info form_submit" type="submit">{% trans "Подобрать" %}</button>
</div>