{% load external_block_tags %}
{% for option, link in f.options %}
{% if option.is_popular %}
    <div class="popular">
    {% with option|manufacturer_image_from_option as image %}
        {% if image %}
            <img src="{{image.url}}">
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% else %}
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% endif %}
    {% endwith %}
    </div>
{% endif %}
{% endfor %}
<div class="wrapp_all_brands_{{ id }}">
    <p><span>Показать все бренды</span></p>
    <div class="all_brands" style="display:none;">
        {% for option, link in f.options %}
            <a href="{{ link }}" class="external_filter_option_list">{{ option.title }}</a>
        {% endfor %}
    </div>
</div>

   <script type="text/javascript">
   $(".wrapp_all_brands_{{ id }} p").click(function() {
        $(this).toggleClass("active");
        $(this).next('.all_brands').slideToggle(300);
    });
</script>