{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load vertical_menu_tags %}
{% load snippets_tags %}
{% load seo_data %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
     {% snippets 'Head top' %}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <meta name='yandex-verification' content='5fa1ccba126e3f37' />
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% get_keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% get_description %}{% endblock %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/fav.png" type="image/png" />
    {% block head %}
        {% if request.canonical_url %}
            {{ request.canonical_url|safe }}
        {% endif %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script> -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" />
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>
    {% endcompress %}
    {% include 'lfs/extra_css.html' %}
    {% if request.path == '/thank-you' %}
    {% block thank-you %}{% endblock %}
    {% else %}
        {% block google-analytics %}{% snippets 'Head bottom' %}{% endblock %}
    {% endif %}
</head>
<body class="{% block section %}{% endblock %}">
     {% snippets 'Body top' %}
    <div id="seo-text-wrapper">
        {% get_seo_text_new %}
    </div>
    <div id="wrap">
        <div id="header" class="row-fluid print-hide">
            <div class="container">
            {% block header %}
            <div class="row-fluid">
            <div class="span6">
                <a class="span4" href="/">
                    <img src="{{ STATIC_URL }}img/michelin.gif" alt="banner" id="banner">
                </a>
                <a class="span6" href="/" style="margin-left: 0;">
                    <img id="logo" src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo">
                </a>
            </div>
            <div class="span4">
            <div class="row-fluid">
                <div class="span12 pull-right">
                    <ul class="nav_admin pull-right">
                    {% if user.is_authenticated %}
                        {% if user.first_name %}
                            <li><a href="{% url lfs_my_account %}" ><i class="icon-user"></i> {{ user.get_full_name|truncatechars:20 }}</a></li>
                        {% else %}
                            <li><a href="{% url lfs_my_account %}"><i class="icon-user"></i> {{ user.username|truncatechars:20 }}</a></li>
                        {% endif %}

                        {% if user.is_superuser or user.is_staff  %}
                            <li><a href="{% url admin:index %}">{% trans 'Manage' %}</a></li>
                        {% endif %}

                        <li><a href="/logout">{% trans 'Logout' %}</a></li>
                    {% else %}
                        {% if not ANON_ONLY %}
                            <li><a href="{% url lfs_login %}">{% trans 'Вход/Регистрация' %}</a></li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </div>
            </div>
                <div id="static_block" class="row-fluid print-hide">
                    <div class="span12">
                         {% static_block "header" %}
                    </div>
                </div>
            </div>
            <div class="span2">
                {# Client script use this container for load cart here by ajax #}
                <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif"></div>
            </div>
        </div>
            {% endblock %}
            <div class="row-fluid">
                <div id="top-bar-container" > {# Client script use this container for insert top bar here by ajax #}
                    <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
                </div>
                <div class="span4">
                    {% include "lfs/search.html" %}
                </div>
        </div>
        </div>
        </div>
    <div id="content">
        <div class="row-fluid">
            <div class="container">
            {% block wrapper %}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        <div id="left-slot-container"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                <div id="middle-slot-container"> {# Class is set automatically #}
                    <div class="middle-slot">
                        <div class="row-fluid"><div>
                                {%if not main_page%}
                                <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                            {% endif %}
                             {%if main_page%}{% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}{% endif %}

                            {% if request.proxyattr_car %}
                            <div class="row-fluid">
                            <div class="span12"><br>
                            {% insert_portlet "replacingrecommendportlet" %}
                            </div></div>{% endif %}

                        {% block content %}{% endblock %}
                        </div></div>
                    </div>
                </div>
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
            {% endblock %}
        </div>
        </div>
    </div>
    <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span3 pull-right">
                    {% static_block "social_network" %}
                </div>
            </div>
            <div class="row-fluid">
           <div class="span8 navbar header-nav pull-left">
                    {% actions Link_bar %}
                    <ul>
                        {% vertical_menu %}
                        {% for action in actions %}
                            <li class="main-category"><a href="{{ action.link }}">{{ action.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        <div class="row-fluid">
            <div class="span1">
                {% block colophon %}
                &copy; <script>document.write(new Date().getFullYear());</script> {% trans 'by' %}
                {% endblock %}
            </div>
               {% static_block "footer" %}
        </div>

        <div class="row-fluid print-hide">
            <div class="span12">
                <ul class="unstyled">
                {% block footer %}

                <li class="footer-title">{% actions Footer %}</li>

                {% for action in actions %}
                <div class="span1">
                  <a href="{{action.link}}">{{action.title}}</a>
                    {% for child in action.children.all %}
                         <li><a href="{{child.link}}"> {{child.title}}</a></li>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endblock %}
                </ul>

            </div>
        </div>

        <div class="row-fluid print-show">
            <div class="span12">
                Alternate footer for print version
            </div>
        </div>
        </div>
    </div>

    {% include "lfs/modal.html" %}

    {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}

    {% block body_bottom %}
          <script>
            mediator.publish('change_slots_width', "span2", "span8", "span10");
            config.right_portlet_count++;
            $("#require_accept_rules").attr("checked",true);
          </script>
    {% endblock %}

    {% include 'lfs/extra_js.html' %}


    {% snippets 'Body bottom' %}

</body>
</html>
