{% load i18n lfs_tags %}
{% load vertical_menu_tags %}
{# Link bar #}
<div class="navbar header-nav pull-left">
    {% actions Link_bar %}
    <ul class="nav">
    	{% vertical_menu %}
        {% for action in actions %}
            <li><a href="{{ action.link }}">{{ action.title }}</a></li>
        {% endfor %}
    </ul>
</div>
