{% extends "lfs/base.html" %}
{% load i18n lfs_tags %}
{% load bootstrap_toolkit %}

{% block title %}
    {% trans 'Checkout' %} - {{ block.super }}
{% endblock %}

{% block section %}checkout{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Checkout") %}
{% endblock %}

{% block wrapper %}
    {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}
    <h3>{% trans 'Оформление заказа' %}</h3>
    {% if request.user.is_anonymous %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{% url lfs_checkout %}">{% trans 'Новый покупатель' %}</a>
        </li>
        {% if SHOP.show_regular_customer_tab %}
        <li>
            <a href="{% url lfs_checkout_authorization %}">{% trans 'Я постоянный клиент' %}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    <div >
        <form class="checkout-form postal-address form-horizontal"
              method="post"
              data="{% url lfs_changed_checkout %}"
              invoice="{% url lfs_changed_invoice_country %}"
              shipping="{% url lfs_changed_shipping_country %}">
            {% csrf_token %}


            <div class="row-fluid">
                <div class="span6">
                    <legend>{% trans 'Контактные данные' %}</legend>
                    {{ form.first_name|as_bootstrap:"horizontal" }}
                    {{ form.last_name|as_bootstrap:"horizontal" }}
                    {{ form.FIO|as_bootstrap:"horizontal" }}
                    {{ form.phone|as_bootstrap:"horizontal" }}
                    {{ form.email|as_bootstrap:"horizontal" }}
                    {{ form.date_of_birthday|as_bootstrap:"horizontal" }}
                    {% if request.user.is_anonymous %}
                        {{ form.media }}
                        {{ form.captcha|as_bootstrap:"horizontal" }}
                    {% else %}
                    <table class="table">
                        {% for name, value in customer_info %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {# Shipping #}
                    <div class="shipping">
                        <div id="shipping-inline">
                            {{ shipping_inline|safe }}
                        </div>
                    </div>
                    <div class="shipping_fields">
                        {{ shipping_fields|safe }}
                    </div>
                    {# Payment #}
                    <div class="payment">
                        <div id="payment-inline">
                            {{ payment_inline|safe }}
                        </div>
                    </div>
                    <div class="payment_fields">
                        {{ payment_fields|safe }}
                    </div>
                </div>
                <div class="span6">
                    {# Cart #}
                    <div id="cart-inline">
                        {{ cart_inline }}
                    </div>
                </div>
            </div>


            
            
            {% comment %}
            {% if display_credit_card %}
            <div id="credit-card">
                <legend>{% trans 'Please enter your credit card information' %}</legend>

                {% if form.errors.credit_card %}
                    <div class="alert alert-error">
                        {{ form.errors.credit_card }}
                    </div>
                {% endif %}
                <noscript>
                     <div class="alert alert-warning">
                         ({% trans 'Only necessary when the payment method is direct debit' %})
                     </div>
                </noscript>

                {% if form.account_number.errors %}
                <div class="alert alert-error">
                    {{ form.account_number.errors }}
                </div>
                {% endif %}
                {{ form.credit_card_type|as_bootstrap:"horizontal" }}
                {{ form.credit_card_owner|as_bootstrap:"horizontal" }}
                {{ form.credit_card_number|as_bootstrap:"horizontal" }}

                <div class="control-group"><label class="control-label">{% trans "Expiration date" %}</label>
                <div class="controls">
                {{ form.credit_card_expiration_date_month }} {{ form.credit_card_expiration_date_year }}
                </div>
                </div>

                {{ form.credit_card_verification|as_bootstrap:"horizontal" }}

            </div>
            {% endif %}
            {% if display_bank_account %}
            <div id="bank-account">
            <legend>{% trans 'Please enter your bank information' %}</legend>
            <noscript>
                <div class="alert alert-warning">
                    ({% trans 'Only necessary when the payment method is direct debit' %})
                </div>
            </noscript>

            {{ form.account_number|as_bootstrap:"horizontal" }}
            {{ form.bank_identification_code|as_bootstrap:"horizontal" }}
            {{ form.bank_name|as_bootstrap:"horizontal" }}
            {{ form.depositor|as_bootstrap:"horizontal" }}
            </div>
            {% endif %}
            {% endcomment %}


            {# Message #}
            <a id="show_message">{% trans "Добавить комментарий" %}</a>
            <div class="hidden" id="div_message">
                {{ form.message|as_bootstrap:"horizontal" }}
            </div>
            <br>
            {% if SHOP.confirm_toc %}
                {% if form.errors.confirm_toc %}
                    <div class="alert alert-error">
                        {{ form.errors.confirm_toc }}
                    </div>
                {% endif %}
                <input type="checkbox" name="confirm_toc" id="confirm_toc" checked="1" checkbox/>
                <a style="margin-left: 92px;">{% trans "пользовательским соглашением" %}</a>
                <label style="margin-left: 20px; margin-top: -20px;" for="confirm_toc">{% trans "Я согласен с" %}</label>
                <div class="required pull-left">
                    <label></label>
                </div>
            {% endif %}
            {% comment %}
            {% if SHOP.cart_require_accept_rules %}
                {% if form.errors.cart_require_accept_rules %}
                    <div class="alert alert-error">
                        {{ form.errors.cart_require_accept_rules }}
                    </div>
                {% endif %}
                <input type="checkbox" name="confirm_toc" id="confirm_toc" checked="1" checkbox/>
                {{ SHOP.cart_link_to_rules|safe }}
                <div class="required pull-left">
                    <label></label>
                </div>
            {% endif %}
            {% endcomment %}
                Подтверждая заказ, я соглашаюсь с пользовательским соглашением
                <div class="required pull-left">
                    <label></label>
                </div>
            <div class="form-actions">
                {% comment %}
                <button class="btn btn-primary"
                        type="submit">
                    {% trans 'Submit order' %}
                </button>
                {% endcomment %}
                <a class="btn btn-primary" id="sumbit_order">{% trans 'Submit order' %}</a>
                {% comment %}
                <a class="btn btn-info"
                   href="{% url lfs.cart.views.cart %}">{% trans 'Go to cart' %}</a>
                {% endcomment %}
            </div>

            {% if request.user.is_anonymous %}
                <input type="hidden"
                       name="is_anonymous"
                       value="1" />
            {% else %}
                <input type="hidden"
                       name="is_anonymous"
                       value="0" />
            {% endif %}

        </form>
    </div>
    <script type="text/javascript">
    $('#show_message').click(function(){
        $('#div_message').toggleClass('hidden')
        if ($(this)[0].innerHTML == 'Добавить комментарий')
        {
            $(this)[0].innerHTML = 'Скрыть комментарий'
        }
        else
        {
            $(this)[0].innerHTML = 'Добавить комментарий'
        }
    });
    </script>
{% endblock %}
