{% extends "lfs/base.html" %}
{% load i18n lfs_tags %}
{% load bootstrap_toolkit %}
{% load loginza_widget %}

{% block title %}
    {% trans 'Checkout' %} - {{ block.super }}
{% endblock %}

{% block section %}checkout{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Checkout") %}
{% endblock %}

{% block wrapper %}
    {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}
    <h3>{% trans 'Оформление заказа' %}</h3>
    <ul class="nav nav-tabs">
        <li>
            <a href="{% url lfs_checkout %}">{% trans 'Новый покупатель' %}</a>
        </li>
        <li class="active">
            <a href="{% url lfs_checkout_authorization %}">{% trans 'Я постоянный клиент' %}</a>
        </li>
    </ul>
    <div >
        <form class="checkout-form postal-address form-horizontal"
              method="post"
              data="{% url lfs_changed_checkout %}"
              invoice="{% url lfs_changed_invoice_country %}"
              shipping="{% url lfs_changed_shipping_country %}">
            {% csrf_token %}


            <div class="row-fluid">
                <div class="span6">
                    <legend>{% trans 'Логин' %}</legend>
                    <fieldset>
                    {{ login_form|as_bootstrap:"horizontal" }}
                    </fieldset>

            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />

            {% loginza_iframe %}
            <div class="form-actions">
            <button type="submit"
                    class="btn btn-primary">{% trans 'Login' %}</button>
            <a class="pull-right" href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
            </div>

                </div>
                <div class="span6">
                    {# Cart #}
                    <div id="cart-inline">
                        {{ cart_inline }}
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
