{% extends "lfs/base.html" %}
{% load i18n lfs_tags sshop_tags %}

{% block title %}
    {% trans 'Thank you!' %} - {{ block.super }}
{% endblock %}

{% block section %}thank-you{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Thank you!") %}
{% endblock %}

{% block wrapper %}
    <h1>{% trans 'Thank you!' %}</h1>

    <p>{% trans 'Soon you will get an order confirmation via E-Mail.' %}</p>
    {% if order %}
    <table class="table">
    <tr>
        <th colspan="4">
            {% trans 'General' %}
        </th>
    </tr>
    <tr>
        <td width="25%">
            {% trans 'Order number' %}
        </td>
        <td width="25%">
            {{ order.number|default_if_none:"-" }}
        </td>
        <td width="25%">
            {% trans 'Date' %}:
        </td>
        <td width="25%">
            {{ order.created|date:_("DATETIME_FORMAT") }}
        </td>
    </tr>
    <tr>
        <td>
            {% trans 'E-mail' %}:
        </td>
        <td>
            {% if request.user.is_authenticated %}
            <a href="mailto:{{ order.user.email }}">
                {{ order.user.email }}
            </a>
            {% else %}
            <a href="mailto:{{ order.customer_email }}">
                {{ order.customer_email }}
            </a>
            {% endif %}
        </td>
        <td>
            {% trans 'State' %}:
        </td>
        <td>
            {{ order.get_state_display }} {% if order.state_modified %}({{ order.state_modified|date:_("DATETIME_FORMAT") }}){% endif %}
        </td>
    </tr>
    <tr>
        {% if order.customer.get_default_phone %}
        {% with order.customer.get_default_phone as phone %}
        <td>
            {{ phone.get_type_display }}:
        </td>
        <td>
            {{ phone.number }}
        </td>
        {% endwith %}
        {% endif %}
        <td>
            {% trans 'Total' %}:
        </td>
        <td>
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
            <strong>{% format_as_payment_price order.price order.payment_method %}</strong> ({% format_as_price order.price %})
           {% else %}
            {% format_as_price order.price %}
           {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans 'Customer' %}:
        </td>
        <td>
            {{ order.customer.get_full_name }}
        </td>
    </tr>

</table>

    <table class="table">
        <td>
            {% if order.shipping_info %}
                {{ order.shipping_info|safe }}
            {% endif %}
        </td>
        <td>
            {% if order.payment_info %}
                {{ order.payment_info|safe }}
            {% endif %}
        </td>
    </table>

    <table class="table table-bordered table-striped order-inline">
    <tr>
        <th width="100px">
            {% trans 'Image' %}
        </th>
        <th width="100px">
            {% trans 'SKU' %}
        </th>
        <th>
            {% trans 'Name' %}
        </th>
        <th width="80px"
            class="number">
            {% trans 'Amount' %}
        </th>
        <th width="150px"
            class="number">
            {% trans 'Price' %}
        </th>
        <th width="150px"
            class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for item in order.items.all %}
        <tr class="product-row">
            <td class="top">
                {% if item.product.get_image.image %}
                <a href="{% url lfs_product item.product.slug %}">
                    <img alt="{{ item.product_name }}"
                         src="{{ item.product.get_image.image.url_60x60 }}" />
                 </a>
                {% else %}
                {% if item.product %}
                <img alt="{{ item.product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail" />
                {% endif %}
                {% endif %}
            </td>
            <td class="top">
                {{ item.product_sku }}
            </td>
            <td class="top">
                {% if item.product %}
                    <a href="{% url lfs_product item.product.slug %}">
                        {{ item.product_name }}
                    </a>
                {% else %}
                    {{ item.product_name }}
                {% endif %}
                {% comment %}
                {% for property in item.product.get_displayed_properties %}
                    <div>
                        {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% for property in item.product.get_variant_properties %}
                    <div>
                        {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                    </div>
                {% endfor %}

                {% if item.product.is_configurable_product %}
                    {% for property in item.get_properties %}
                        <div>
                            {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                            {% if property.display_price %}
                                ({% format_as_price property.price %})
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endcomment %}
            </td>

            <td class="number top">
               {{ item.amount }} {{ item.product.unit }}
                {% if item.product.active_packing_unit %}
                    <span class="packing-unit">
                        ({{ item|packages }} {{ item.product.packing_unit_unit }})
                    </span>
                {% endif %}

            </td>
            <td class="number top">
               {% format_as_price item.product_price %}{% if item.product.price_unit %} / {{ item.product.price_unit }}{% endif %}
            </td>
            <td class="number top">
               {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>{% format_as_payment_price item.price order.payment_method %}</strong> ({% format_as_price item.price %})
               {% else %}
                {% format_as_price item.price %}
               {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if order.voucher_number %}
        <tr>
            <td></td>
            <td>
                {% trans 'Voucher' %} ({{ order.voucher_number }})
            </td>
            <td></td>
            <td class="number">
                1
            </td>
            <td class="number">
                -{% format_as_price order.voucher_price %}
            </td>
            <td class="number">
               {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>-{% format_as_payment_price order.voucher_price order.payment_method %}</strong> (-{% format_as_price order.voucher_price %})
               {% else %}
                -{% format_as_price order.voucher_price %}
               {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Shipping' %} ({{ order.shipping_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {% format_as_price order.shipping_price %}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
            <strong>{% format_as_payment_price order.shipping_price order.payment_method %}</strong> ({% format_as_price order.shipping_price %})
            {% else %}
            {% format_as_price order.shipping_price %}
            {% endif %}
        </td>
    </tr>
    {% comment %}
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Payment' %} ({{ order.payment_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {% format_as_price order.payment_price %}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
                <strong>{% format_as_payment_price order.payment_price order.payment_method %}</strong> ({% format_as_price order.payment_price %})
            {% else %}
                {% format_as_price order.payment_price %}
            {% endif %}
        </td>
    </tr>
    {% endcomment %}
    <tr class="total">
        <td colspan="6"
            class="number total">
            <div class="pull-right">
            {% trans "Total" %}:
            {% if SHOP.default_currency_id != order.payment_method.currency_id %}
            <strong>{% format_as_payment_price order.price order.payment_method %}</strong> ({% format_as_price order.price %})
            {% else %}
            {% format_as_price order.price %}
            {% endif %}
            </div>
        </td>
    </tr>
    </table>
    {% if order.message %}
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="5">
                    {% trans 'Message from the customer' %}
                </th>
            </tr>
            <tr>
                <td colspan="5">
                    {{ order.message }}
                </td>
            </tr>
        </table>
    {% endif %}
{% endif %}
    {% if order.get_pay_link %}
        <p>
            {% trans 'Please use the following link if you want to pay now' %}
        </p>
        <p>
            <a class="pay-link"
               href="{{ order.get_pay_link }}">{% trans 'Pay' %}</a>
        </p>
        <p>
            {% trans 'You will find the same link on your order confirmation' %}
        </p>
    {% endif %}

{% endblock %}

   
{% block thank-you %}
    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-43783140-1']);
          _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        _gaq.push(["_addTrans",
         "{{order.id}}",
          "Zweigstelle",
          "{{order.price|floatformat}}",
          "{{order.tax|floatformat}}",
          "{{order.shipping_price|floatformat}}",
           "",
          "{{Bundesland}}",          
          "Ukraine"
        ]);

        {% for item in order.items.all  %}
            _gaq.push(["_addItem",
              "{{order.id}}",
             "{{item.product_sku}}",
              "{{item.product.slug}}",
              "Kategorie",
              "{{item.product_price_gross|floatformat}}",
              "{{item.product_amount|floatformat}}",
            ]);    
        {% endfor %}  
  
      _gaq.push(["_trackTrans"]);
    </script>
{% endblock %}

