{% load lfs_tags %}
{% load l10n %}

{% localize off %}
{% if average %}
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
<span class="pull-left">Оценка пользователей ({{ amount }}): </span>
    <div class="average-rating"
         onclick="window.location='#reviews'">
        <ul class="star-rating">
                <meta itemprop="ratingValue" content="{{average}}" />
                <meta itemprop="bestRating" content="5" />
                <meta itemprop="ratingCount" content="{{ amount }}" />
            <li class="current-rating"
                style="width:{{average|multiply:25}}px">
                Currently 3/5 Stars
            </li>
        </ul>
    </div>
</div>
{% endif %}
{% endlocalize %}
