{% load i18n %}
{% load l10n %}
{% load lfs_tags %}
<div class="row-fluid">
<div class="span12 reviews">
    {% if reviews %}
        {% for review in reviews %}
            <div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div>
                {% localize off %}
                <ul itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating small-star inline-rating">
                    <li class="current-rating"
                        style="width:{{review.score|multiply:10}}px">
                        Currently 3/5 Stars
                        <span itemprop="ratingValue">{{review.score}}</span>
                        <span itemprop="bestRating">5</span>
                    </li>
                </ul>{% endlocalize %}
        
                {% if review.email and review.user_name %}                    
                    <a itemprop="author" href="mailto:{{review.email}}">{{review.user_name}}</a>,
                {% else %}
                    {% if review.user_name %}
                        <span itemprop="author">{{ review.user_name }}</span>,
                    {% else %}
                        {% trans 'Anonymous' %},
                    {% endif %}
                {% endif %}
                  <meta itemprop="datePublished" content="{{ review.creation_date|date:"y-m-d" }}">
                 {{ review.creation_date|date:"d. F Y" }}
                </div>    
                <div>        
                     <span itemprop="description">{{ review.comment|linebreaks }}</span>
                </div> 
            </div>   
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            {% trans 'Вы можете стать первым, кто выскажет отзыв об этом товаре!' %}
        </div>
    {% endif %} 
    {% if has_rated %}
        <div class="alert alert-info">
            {% trans 'You have already rated' %}
        </div>
    {% else %}
        <div class="buttons">
            <a class="btn"
               href="{% url reviews_add content_type_id content_id %}">{% trans 'Добавить отзыв' %}</a>
        </div>
    {% endif %}
</div>
</div>