{% extends "lfs/base.html" %}
{% load i18n lfs_tags pagination_tags sshop_tags %}
 
{% block title %}
    {% trans 'Search results' %} - {{ block.super }}
{% endblock %}
{% block head %}
    {% if request.path == request.get_full_path %}
        {% else %}    
    {% if request.canonical_url %}
            {{ request.canonical_url|safe }}
        {% else %}
            <meta name="robots" content="noindex,follow">
    {% endif %}
    {% endif %}
{% endblock %}
{% block section %}search-results{% endblock %}
 
{% block breadcrumbs %}
    {% breadcrumbs _("Search results") %}
{% endblock %}
 
{% block wrapper %}
<div class="page-header">
    <h1 class="first-heading">{% trans 'Search results' %}</h1>
</div>
 
    <label for="search">{% trans 'Search' %}:</label>
    <form action="{% url lfs_search %}"
         class="search-results-form form-inline">
        <div class="input-append">
            <input id="search-input" name="q"  class="input-large search-query" value="{{ q }}" type="text" placeholder=" {% trans 'Search products...' %}" >
            <button class="btn" type="submit">{% trans 'Go!' %}</button>
        </div>
    </form>
 
    <div class="row-fluid"><div class="span12">
    <p class="search-results-description">
        {% trans 'You searched for' %} <span class="search-results-query">"{{ q }}"</span>.
        {% blocktrans count total as counter %}1 product was found.{% plural %}{{ counter }} products were found.{% endblocktrans %}
    </p>
    </div></div>
 
    {% if products %}
 
        {% if not paginator %}
            {% autopaginate products 10 %}
        {% endif %}
        <div class="row-fluid"><div class="span12">
        <div class="pull-right">
        </div>
        </div></div>
 
        <div class="row-fluid"><div class="span12">
        <table class="lfs-default padding-top table table-striped">
            <tr>
                <th>{% trans 'Image' %}</th>
                <th>{% trans 'Product' %}</th>
                <th class="number">{% trans 'Price' %}</th>
                <th></th>
            <tr>
            {% for p in products %}
                <tr>
                    <td>
                        <a href="{{ p.object.get_absolute_url }}" class="preview-100-100">
                            <img src="{{ p.object.get_image.image.url_100x100 }}"
                                alt="{{ p.object.get_name }}"
                                title="{{ p.object.get_name }}" />
                        </a>
                    </td>
                    <td>
                        <a href="{{ p.object.get_absolute_url }}">
                            {{ p.object.get_name }}
                        </a>
                        <br>{{ p.object.short_description|safe }}
                        {% comment %}
                        {% for property in p.object.get_variant_properties %}
                            <div>
                                {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}
 
                        {% for property in p.object.get_displayed_properties %}
                            <div>
                                {{ property.title }} : {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}
                        {% endcomment %}
                        <div class="product-statuses">
                            <span class="label-popover label {{ p.object.status.css_class }} pointer" data-content="{{ p.object.status.description|striptags }}" title="" data-original-title="{{ p.object.status.name }}">{{ p.object.status.name }}</span>
                            {% if p.object.manage_stock_amount %}
                            <span>{% trans "Stock amount:" %} {{ p.object.stock_amount }}
                            {% if p.object.unit %}{{ p.object.unit }}{% endif %}</span>
                            {% endif %}
                            {% if p.object.manual_delivery_time %}
                            {% trans "Delivery in" %} {{ p.object.delivery_time }}
                            {% endif %}
                        </div>
                    </td>
 
                    <td class="number">
                        <div class="product-price">
                        {% if p.object.get_for_sale %}
                            <div class="product-price">
                            <span class="label label-important price">{% for_sale_price p.object %}</span>
                            <ul>
                            <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price p.object %}</span></li>
                            <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference p.object %}</span></li>
                            </ul>
                            </div>
                        {% else %}
                            <div class="product-price">
                            <span class="label label-info price">{% price p.object %}</span>
                            </div>
                        {% endif %}
                        </div>
                    </td>
                    <td class="buttons">
                            {% if p.object.status.show_buy_button %}
                            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                               class="add-to-cart-form"
                               method="post">
                            {% csrf_token %}
                            <input name="product_id" type="hidden" value="{{ p.object.id }}" />
                            <input name="ajax_mode" type="hidden" value="1" />
                            <button class="btn">{% trans "Add to cart" %}</button>
                            </form>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div></div>
    {% paginate %}
    {% endif %}
{% endblock %}