<div id="portlet-tabs-{{ container_id }}" style="display: none;">
<ul>
{% for portlet in portlets %}
<li><a href="#tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">{{ portlet.title }}</a></li>
{% endfor %}
</ul>
{% for portlet in portlets %}
<div id="tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">
    {{ portlet.html }}
</div>
{% endfor %}
</div>
<script type="text/javascript">
$('#portlet-tabs-{{ container_id }}').tabs();
$('#portlet-tabs-{{ container_id }}').removeAttr('style');
$('div.portlet-header').hide();
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>