{% load i18n %}
{% load lfs_tags %}
<div class="filter-portlet-container">
{% if show and product_filters %}
<div class="filtered-navigation-portlet portlet">
    <div class="portlet-header">
        <h4>{{ title }} </h4>
    </div>

    <div class="portlet-body">
        <input type='hidden' id="use_after_choose" value='{{ use_after_choose }}' />
        <input type='hidden' id="ajax_load_children" value='{{ ajax_load }}' />
        <form id="filter-portlet-form-{{ slot_name }}-{{ portlet_id }}" class="filter-portlet-form" method="GET">
            {% for filter in product_filters %}
                <div class="filter-block {{ filter.identificator }}">
                    {% include filter.template_name %}
                </div>
            {% endfor %}
            <div class="filter-actions">
                <a href="{% url lfs_category category.slug %}" class="pull-left">Сбросить</a>
                <button class="btn btn-info form_submit pull-right" type="submit">{% trans "Подобрать" %}</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
</div>