{% load i18n %}
{% if not ajax %}
  <div id="notebook" portlet_assignment_id="{{ portlet_assignment_id }}" slot_name="{{ slot_name }}">
{% endif %}
{% if notebook_list %}   
<div class="portlet">
    <div class="portlet-header"> 
      <h4><a href="{% url lfs_notebook %}">{% trans "Notebook" %}</a></h4>
    </div> 
    {% if notebook_list|length <= 2 %}   
    <ul class="notebook_list">
        {% for product in notebook_list %}
        <li><a href="http://{{request.get_host}}{% url lfs_product product.slug %}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>

       {% elif notebook_list|length > 2 %}
           <ul class="notebook_list">
               {% for product in notebook_list %}
               <li><a href="http://{{request.get_host}}{% url lfs_product product.slug %}">{{ product.name }}</a></li>
               {% endfor %}
           </ul>
            <script type="text/javascript">
            $('.notebook_list li:nth-child(3)').before('<p class="wrapp_all_notebook"><span>Показать все</span></p>');
            $('.notebook_list li:nth-child(n+3)').wrap('<div class="all_notebook"></div>');
            $('.all_notebook').css('display','none');
           </script>
        {% endif %}
<script type="text/javascript">
    $('.wrapp_all_notebook').click(function() {
        $(this).toggleClass('active');
        $('.all_notebook').slideToggle(300);
    });
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
</div>
{% endif %}
{% if not ajax %}
</div>
{% endif %}
{% if init %}
 <script type="text/javascript">
      var id = $('#notebook').attr('portlet_assignment_id')
      $.ajax({
          url: "/notebook/ajax-load/" + id + "/",
          dataType: "json",
          success: function(msg){
              $('#notebook')[0].innerHTML = msg['html']
              mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}
