{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}



{% if products %}
<div id="portlet_{{ pa_id }}">
    <div class="featured-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {% if not slideshow %}
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
                <div class="wrap-product">
               {% for product in products %}
                    <div class="portlet-item{% if forloop.last %} last{% endif %}{% if type_of_slot == 5 %} horizontal{% endif %} portlet-padding">
                       <div class="product-data">
                                    <div class="image-wrapper">
                                        <a href="{{ product.get_absolute_url }}">
                                            {% badges_for_product product %}
                                            {% if product.get_image %}
                                                <img src="{{ product.get_image.image.url_200x200 }}">
                                            {% else %}
                                                <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
                                            class="product-image" />
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="product-title">
                                        <a href="http://{{request.get_host}}{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                    </div>
                                    {% if product.get_for_sale %}
                                        <div class="product-price">
                                        <span class="label label-important price">{% for_sale_price product %}</span>
                                        <ul>
                                        <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                        <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                        </ul>
                                        </div>
                                    {% else %}
                                        <div class="product-price">
                                        <span class="label label-info price">{% price product %}</span>
                                        </div>
                                    {% endif %}
                                    {% if product.status.show_buy_button %}
                                        <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                            class="add-to-cart-form" method="post">
                                        {% csrf_token %}
                                        <input name="product_id" type="hidden" value="{{ product.id }}" />
                                        <input name="ajax_mode" type="hidden" value="1" />
                                        <input class="input-small inline hide" name="quantity" type="text" value="4" />
                                        <button class="btn">{% trans "Купить" %}</button>
                                        </form>
                                    {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
            {% elif slideshow %}
                {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
                <div class="products-wrapper slideshow">
                    {% for product in products %}
                    <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                <div class="image-wrapper">
                                        <a href="{{ product.get_absolute_url }}">
                                            {% badges_for_product product %}
                                            {% if product.get_image %}
                                                <img src="{{ product.get_image.image.url_200x200 }}">
                                            {% else %}
                                                <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
                                            class="product-image" />
                                            {% endif %}
                                        </a>
                                </div>

                                <div class="product-title">
                                    <a href="http://{{request.get_host}}{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>
                                {% if product.get_for_sale %}
                                        <div class="product-price">
                                        <span class="label label-important price">{% for_sale_price product %}</span>
                                        <ul>
                                        <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                        <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                        </ul>
                                        </div>
                                    {% else %}
                                        <div class="product-price">
                                        <span class="label label-info price">{% price product %}</span>
                                        </div>
                                {% endif %}
                                {% if product.status.show_buy_button %}
                                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    <input class="input-small inline hide" name="quantity" type="text" value="4" />
                                    <button class="btn">{% trans "Купить" %}</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}{# slideshow products #}
                    {# tabs #}
                </div>
                                       {% if pagination %}
        <ul class="pager" style="float: left; width: 100%; margin-top: 0px;">
            <li class="previous{% if not products.has_previous %} disabled{% endif %}">
                <a {% if products.has_previous %}href="javascript:portlet_paginator({{ pa_id }}, {{ products.previous_page_number }})"{% endif %}>&larr; {% trans 'previous' %}</a>
            </li>
            <li class="next{% if not products.has_next %} disabled{% endif %}">
                <a {% if products.has_next %}href="javascript:portlet_paginator({{ pa_id }}, {{ products.next_page_number }})"{% endif %}>{% trans 'next' %} &rarr;</a>
            </li>
        </ul>
        {% endif %}
                {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
            {% endif %}
            {# slideshow check #}
        </div>{# portlet-body #}
    </div>
    </div>

{% if ajax_mode %}
<script type="text/javascript">
    mediator.publish("add_to_cart");
</script>
{% endif %}

<script type="text/javascript">
    {% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>

{% endif %}
