{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
<table class="table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">
        <div class="row-fluid">
        <div class="span12">
        <div class="product-caption"><a href="http://{{request.get_host}}{% url lfs_product product.slug %}">{{ product.get_name }}</a>
        </div>
        {% show_product_id product %}
        </div>
        {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
        </div>
        <div class="row-fluid">
            <div class="span6">
                {% property_value_icons product %}
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_400x400 %}
                        {% badges_for_product product %}
                        <img class="img_product_{{ category.slug }}" alt="{{ product.name }}" src="{{ product.get_image.image.url_400x400 }}" />
                    {% else %}
                        <img class="no_image" width="100px" height="100px" alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            {% if not product.is_product_with_variants %}
            <div class="span6">
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                </div>
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                </div>
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline hide" name="quantity" type="text" value="4" />
            <button class="btn">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            </div>
            {% endif %}
        </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
</table>
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
        {% if p %}
         {% for p in pagination.page_range %}
             {% if p == 2  %}
             <script type="text/javascript">
                 $('head').append('<link rel="next" href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">'); 
             </script>
             {% endif %}
            {% endfor %}
        {% endif %}
 {% for p in pagination.page_range %}
       {% if p == pagination.current_page|add:1  %}
         <script type="text/javascript">
             $('head').append('<link rel="next" href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">'); 
         </script>
       {% endif %}
         {% if p == pagination.current_page|add:-1  %}
         <script type="text/javascript">
             $('head').append('<link rel="prev" href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">'); 
         </script>
       {% endif %}
 {% endfor %}