{% load i18n %}
{% if pagination.total_pages > 1 %}
<div class="products-navigation">
    <div class="pagination"><ul>
    {% if pagination.first_page %}
    <li><span class="first-page">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.first_page }}{{ pagination.getvars }}">&lt;&lt;</a>
    </span></li>
    {% endif %}
    {% if pagination.has_prev %}
    <li><span class="previous-page">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.prev }}{{ pagination.getvars }}">&lt;</a>
    </span></li>
    {% endif %}

    {% for p in pagination.page_range %}
      {% if p == pagination.current_page %}
        <li class="active"><span class="current">{{ p }}</span></li>
      {% else %}
        <li><a href="{{ pagination.url }}?{{ pagination.getparam }}={{ p }}{{ pagination.getvars }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li><span class="next-page">
        <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.next }}{{ pagination.getvars }}">&gt;</a>
    </span></li>
    {% endif %}

    {% if pagination.last_page %}
    <li><span class="last-page">
      <a href="{{ pagination.url }}?{{ pagination.getparam }}={{ pagination.last_page }}{{ pagination.getvars }}">&gt;&gt;</a>
    </span></li>
    {% endif %}
    </ul></div>
</div>
{% endif %} 
